/*------------- Variables -------------*/
:root {
    --background-color: #eeeeee;
    --primary-color: #0099d6;
    --primary-accent: #00668f;
    --secondary-color: #310071;
}

/*------------- Site Wide -------------*/
* {
    font-family: "Grenze", serif;
    box-sizing: border-box;
}

header, nav, main, footer {
    min-width: 320px;
    margin: 0 auto;
}

/*------------- Header -------------*/
header {
    display: grid;
    grid-template-columns: 80px auto 80px;
    background-color: var(--primary-color);
}

header img {
    padding: .5rem;
    width: 80px;
    height: 80px;
    align-self: center;
}

header span {
    margin: .5rem;
    align-self: center;
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

/*------------- Menu Button --------------*/
.menu {
    background: none;
    border: none;
    font-size: 2rem;
    color: #ffffff;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu::after {
    content: "\2630";
}
.menu.show::after {
    content: "\00D7";
}

/*------------- Nav -------------*/
nav {
    background-color: var(--primary-color);
}

.navigation {
    display: none;
}
.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-top: solid 3px var(--primary-accent);
    border-bottom: solid 3px var(--primary-accent);
    text-align: center;
}

.navigation li.current {
    background-color: var(--primary-accent);
}

.navigation a {
    display: block;
    padding: 1rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}
.navigation a:hover {
    background-color: var(--secondary-color);
}

/*------------- Main -------------*/
main h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-accent);
    text-align: center;
}

.view-buttons {
    width: 200px;
    display: flex;
    margin: 0 auto;
}

.view-buttons button {
    width: 60px;
    height: 60px;
    margin: 1rem auto;
    padding: .5rem;
    border: solid 3px var(--primary-color);
    border-radius: 1rem;
}

.view-buttons button img {
    width: 100%;
}

/*------------- Buttons -------------*/
main div button:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

main div .selected {
    background-color: var(--primary-accent);
}

/*------------- Grid -------------*/
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
    margin: 1rem;
}
.grid section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    border: solid 3px var(--primary-color);
    border-radius: 20px;
    text-align: center;
}

.grid section img {
    max-width: 80%;
    width: fit-content;
    max-height: 80px;
    height: 100%;
    margin: 1rem;
}

.grid section h2 {
    margin: 1rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-accent);
}

.grid section p,
.grid section a {
    margin: 0 1rem 1rem 1rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--primary-accent);
}

/*------------- List -------------*/

.list {
    margin-bottom: 1rem;
}

.list section {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 5fr;
    align-items: center;
    margin: 0 1rem;
}

.list section img {
    display: none;
}

.list section h2 {
    margin: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-accent);
}

.list section p,
.list section a {
    margin: 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-accent);
}

.list section:nth-child(odd) {
	background-color: var(--background-color);
}

/*------------- Hero -------------*/
.hero img {
    width: 100%;
    height: 100%;
}

/*------------- Join Link -------------*/
.join {
    display: flex;
    justify-content: center;
    margin: 1rem 1rem 0 1rem;
}
.join a {
    background-color: var(--background-color);
    border: solid 3px var(--primary-color);
    border-radius: 20px;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--primary-accent);
    text-decoration: none;
}
.join a:hover {
    background-color: var(--secondary-color);
    color: #ffffff;
    cursor: pointer;
}

/*------------- Home -------------*/
.home-info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 1rem;
}

.home-info section {
    background-color: var(--background-color);
}

.home-info section h2 {
    background-color: var(--primary-accent);
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
}

.join-page h1 {
    grid-column: 1 / 3;
}

/*------------- Events -------------*/
.events h3 {
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--primary-accent);
}

.events p {
    margin: 1rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--primary-accent);
}

/*------------- Weather -------------*/
.weather div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: .5rem;
}

.weather div img {
    width: 60px;
    height: 60px;
}

.weather div div {
    text-align: center;
}

.weather div div p,
.forecast div p {
    margin: .5rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-accent);
}

.weather div div .bold,
.forecast div .bold {
    font-size: 1.25rem;
}

.weather div div .weather-desc {
    font-size: 1.25rem;
    text-transform: capitalize;
}

/*------------- Forecast -------------*/
.forecast div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/*------------- Form -------------*/
form {
    margin: 1rem 1rem;
}

fieldset {
    margin: 0;
    padding: 1rem;
    background-color: var(--background-color);
    border: solid 3px var(--primary-color);
    border-radius: 5px;
}

label {
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-accent);
}

input,
select,
textarea {
    display: block;
    width: 100%;
    max-width: 420px;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #ffffff;
    border: solid 3px var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-accent);
}

textarea {
    height: 107px;
}

input[type="submit"] {
    margin: 0;
    background-color: #ffffff;
    border: solid 3px var(--primary-color);
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-accent);
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: var(--secondary-color);
    color: white;
}

.required {
    font-weight: 600;
    color: maroon;
}

/*------------- Memberships -------------*/
.memberships {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
}
.memberships section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.memberships section h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-accent);
}

.memberships section button {
    width: max-content;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #ffffff;
    border: solid 3px var(--primary-color);
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-accent);
}
.memberships section button:hover {
    color: #ffffff;
}

.np {
    background-color: var(--background-color);
    border: solid 3px var(--primary-color);
    border-radius: 20px;
    animation: np 5s ease 1s 3 normal forwards;
}

.bronze {
    background-color: var(--background-color);
    border: solid 3px var(--primary-color);
    border-radius: 20px;
    animation: bronze 5s ease 1s 3 normal forwards;
}

.silver {
    background-color: var(--background-color);
    border: solid 3px var(--primary-color);
    border-radius: 20px;
    animation: silver 5s ease 1s 3 normal forwards;
}

.gold {
    background-color: var(--background-color);
    border: solid 3px var(--primary-color);
    border-radius: 20px;
    animation: gold 5s ease 1s 3 normal forwards;
}

@keyframes np {
    0% {
        background-color: #eeeeee;
        border: solid 3px var(--primary-color);
    }
    50% {
        background-color: #ffffff;
        border: solid 3px var(--primary-accent);
    }
    100% {
        background-color: #eeeeee;
        border: solid 3px var(--primary-color);
    }
}

@keyframes bronze {
    0% {
        background-color: #fff5eb;
        border: solid 3px var(--primary-color);
    }
    50% {
        background-color: #ffe8d3;
        border: solid 3px var(--primary-accent);
    }
    100% {
        background-color: #fff5eb;
        border: solid 3px var(--primary-color);
    }
}

@keyframes silver {
    0% {
        background-color: #eeeeee;
        border: solid 3px var(--primary-color);
    }
    50% {
        background-color: #dddddd;
        border: solid 3px var(--primary-accent);
    }
    100% {
        background-color: #eeeeee;
        border: solid 3px var(--primary-color);
    }
}

@keyframes gold {
    0% {
        background-color: #fffef0;
        border: solid 3px var(--primary-color);
    }
    50% {
        background-color: #fffcdb;
        border: solid 3px var(--primary-accent);
    }
    100% {
        background-color: #fffef0;
        border: solid 3px var(--primary-color);
    }
}

/*------------- Modal Dialog -------------*/
dialog {
    width: 50%;
    min-width: 280px;
    background-color: var(--background-color);
    border: solid 3px var(--primary-color);
    border-radius: 5px;
}

dialog button {
    width: 44px;
    height: 44px;
    float: right;
    background-color: #ffffff;
    border: solid 3px var(--primary-color);
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-accent);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}
dialog button:hover {
    background-color: var(--secondary-color);
    color: #ffffff;
}

dialog h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-accent);
}

dialog p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-accent);
}

::backdrop {
    background-color: rgb(0, 0, 0, 0.3);
}

/*------------- Thank You Page -------------*/
#results {
    margin: 1rem;
    background-color: var(--background-color);
    border: solid 3px var(--primary-color);
    border-radius: 20px;
}

#results p {
    margin: 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-accent);
    text-align: center;
}

/*------------- Spotlight Businesses -------------*/
.business-spotlight {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 1rem;
}

.business-spotlight section {
    background-color: var(--background-color);
    padding-bottom: 1rem;
}

.business-spotlight section h2 {
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid 3px var(--primary-accent);
    color: var(--primary-accent);
    text-align: center;
}

.business-spotlight section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.business-spotlight section div img {
    max-width: 80%;
    width: fit-content;
    max-height: 80px;
    margin: 0 1rem .5rem 1rem;
}

.business-spotlight section div div {
    display: flex;
    flex-direction: column;
}

.business-spotlight section div div p,
.business-spotlight section div div p a {
    margin: .5rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-accent);
}

/*------------- Footer -------------*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr;
    background-color: var(--primary-accent);
    color: #ffffff;
}

footer div {
    margin: 0 1rem;
    width: 280px;
}

.bold {
    font-size: 1rem;
    font-weight: 600;
}

footer div p {
    font-weight: 400;
}

.social {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    margin: 0;
}

.social img {
    width: 60px;
    padding: .5rem;
    background-color: var(--background-color);
    border: solid 3px var(--primary-color);
    border-radius: 1rem;
}
.social img:hover {
    background-color: var(--secondary-color);
}
