@media only screen and (min-width: 38rem) {
    header {
        grid-template-columns: 80px auto;
    }

    .menu {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
    }

    footer {
        flex-direction: row;
        justify-content: space-around;
    }

    footer div {
        width: auto;
    }

    footer .social {
        width: 320px;
    }

    .home-info {
        grid-template-columns: 2fr 1fr 1fr;
    }

    .weather > div {
        flex-direction: row;
        justify-content: center;
    }

    .business-spotlight {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }

    .join-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    form {
        margin-right: 0;
    }

    .memberships {
        margin-left: 0;
    }
}
