/*------------- Variables -------------*/
:root {
    --background-color: #f6fff0;
    --section-color: #f9fff5;
    --primary-color: #d4ecc7;
    --primary-accent: #415039;
}

/*------------- Site Wide -------------*/
* {
    font-family: "Almendra", serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--background-color);
}

header, nav, main, footer {
    min-width: 300px;
    margin: 0 auto;
}

/*------------- Header -------------*/
header {
    display: grid;
    grid-template-columns: 80px auto 80px;
    background-color: var(--primary-color);
    border-bottom: solid 3px var(--primary-accent);
}

header img {
    padding: .5rem;
    width: 80px;
    height: 80px;
    align-self: center;
}

header span {
    margin: .5rem;
    align-self: center;
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-accent);
    text-align: center;
}

/*------------- Menu Button --------------*/
.menu {
    background: none;
    border: none;
    font-size: 2.5rem;
    color: var(--primary-accent);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu::after {
    content: "\2630";
}
.menu.show::after {
    content: "\00D7";
}

/*------------- Nav -------------*/
nav {
    background-color: var(--primary-color);
}

.navigation {
    display: none;
}
.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: solid 3px var(--primary-accent);
    text-align: center;
}

.navigation li.current {
    background-color: var(--section-color);
}

.navigation a {
    display: block;
    padding: 1rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-accent);
    text-decoration: none;
}
.navigation a:hover {
    background-color: var(--background-color);
}

/*------------- Main -------------*/
main {
    min-width: 270px;
    margin: 0 1rem;
}

main h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-accent);
    text-align: center;
}

main section {
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    background-color: var(--section-color);
    box-shadow: 0 2px 3px 2px rgb(0,0,0,0.1);
}

section h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-accent);
}

section h3 {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--primary-accent);
}

section p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-accent);
}

/*------------- Siteplan -------------*/
.color-scheme {
    display: grid;
}

.color-scheme div {
    padding: 1rem;
    border-top: solid 1px var(--primary-accent);
}

.background-color {
    background-color: var(--background-color);
}

.section-color {
    background-color: var(--section-color);
}

.primary-color {
    background-color: var(--primary-color);
}

.primary-accent {
    background-color: var(--primary-accent);
}
.primary-accent h3,
.primary-accent p {
    color: var(--background-color);
}

.wireframe {
    display: flex;
    flex-direction: column;
}

.wireframe figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
}

.wireframe figure img {
    box-shadow: 0 2px 3px 2px rgb(0,0,0,0.1);
}

.wide img {
    width: 100%;
    height: auto;
}

.mobile img {
    width: 75%;
    height: auto;
}

.wireframe figure figcaption {
    margin-top: .25rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-accent);
    text-align: center;
}

/*------------- Home -------------*/
/*------------- Hero -------------*/
.hero img {
    width: 100%;
    height: auto;
    box-shadow: 0 2px 3px 2px rgb(0,0,0,0.5);
}

/*------------- Home Tree Cards -------------*/
.label {
    font-size: 1rem;
    font-weight: 700;
    font-style: normal;
}

#tree-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0 1rem;
}

#tree-cards section {
    display: flex;
    flex-direction: column;
}

#tree-cards section h3 {
    margin-top: 0;
    font-style: italic;
}

#tree-cards section a {
    margin-top: auto;
}

#tree-cards section img {
    width: 100%;
    height: auto;
    box-shadow: 0 2px 3px 2px rgb(0,0,0,0.3);
}
#tree-cards section a img:hover {
    filter: contrast(75%);
    box-shadow: 0 2px 3px 2px rgb(0,0,0,0.5);
}

/*------------- Trees -------------*/
/*------------- Height Selection -------------*/
.height-selection {
    display: flex;
    flex-direction: column;
}

.height-selection div {
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--primary-color);
}

.height-selection div button {
    min-width: 44px;
    min-height: 44px;
    padding: .5rem;
    background-color: var(--primary-color);
    border: none;
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-accent);
    cursor: pointer;
}
.height-selection div button:hover {
    background-color: var(--background-color);
}

.height-selection div .selected {
    background-color: var(--section-color);
}

/*------------- Tree Information Cards -------------*/
#tree-info section {
    display: grid;
    grid-template-areas:
    "common"
    "scientific"
    "image"
    "height"
    "button";
}

#tree-info section h2 {
    grid-area: common;
}

#tree-info section h3 {
    grid-area: scientific;
    margin-top: 0;
}

#tree-info section img {
    width: 100%;
    max-width: 400px;
    height: auto;
    grid-area: image;
    box-shadow: 0 2px 3px 2px rgb(0,0,0,0.3);
}

#tree-info section p {
    grid-area: height;
}

#tree-info section button {
    height: 44px;
    grid-area: button;
    padding: .5rem;
    background-color: var(--primary-color);
    font-size: 1rem;
    font-weight: 700;
    color: var(--primary-accent);
    border: none;
    cursor: pointer;
}
#tree-info section button:hover {
    background-color: var(--primary-accent);
    color: var(--primary-color);
}

/*------------- Dialog -------------*/
dialog {
    background-color: var(--section-color);
    border: none;
    color: var(--primary-accent);
}

dialog img {
    width: 100%;
    max-width: 400px;
    height: auto;
    box-shadow: 0 0 3px 2px rgb(0,0,0,0.3);
}

dialog button {
    float: right;
    min-width: 44px;
    min-height: 44px;
    margin-top: .7rem;
    background-color: var(--primary-color);
    border: none;
    font-size: 2rem;
    font-weight: 400;
    color: var(--primary-accent);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}
dialog button:hover {
    background-color: var(--primary-accent);
    color: var(--primary-color);
}

::backdrop {
    background-color: rgb(0, 0, 0, 0.3);
}

/*------------- Contact -------------*/
/*------------- Form -------------*/
fieldset {
    margin-bottom: 1rem;
    border: 3px solid var(--primary-color);
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--primary-accent);
}

label {
    display: block;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-accent);
}
label:nth-child(2) {
    margin-top: 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    display: block;
    width: 100%;
    max-width: 600px;
    min-height: 44px;
    padding: .5rem;
    background-color: #ffffff;
    border: solid 3px var(--primary-color);
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-accent);
}

textarea {
    height: 91px;
}

input:required,
textarea:required {
    border-left: solid 3px maroon;
}
input:required:valid,
textarea:required:valid {
    border-left: solid 3px green;
}

.required {
    font-weight: 700;
    color: maroon;
}

input[type="submit"] {
    width: 100%;
    min-height: 44px;
    margin-bottom: .5rem;
    background-color: var(--primary-color);
    border: none;
    font-size: 1rem;
    font-weight: 700;
    color: var(--primary-accent);
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: var(--primary-accent);
    color: var(--primary-color);
}

/*------------- Footer -------------*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr;
    background-color: var(--primary-color);
    border-top: solid 3px var(--primary-accent);
    color: #ffffff;
}

footer p,
footer a {
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-accent);
}

footer a {
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
